*{
  margin:0px;
  padding:0px;
  font-family: 'Poppins', sans-serif;
  --darkBlue:#183059;
  --lightBlue:#276fbf;
  --creamWhite:#f6f4f3;
  --bRed:#af5b5b;
  --lRed:#f03a47;
}
.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: var(--lightBlue);
}

h1 {
  margin: 30px;
 
  text-shadow: 5px 0 black;
  font-size: 8rem;
  color: var(--creamWhite);
}

p {
  font-size: 2rem;
  color: var(--creamWhite);

}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: var(--creamWhite);
  text-align: center;
  

}
.rollButton{
  text-align: center;
}
.btn {
  text-align:center;
  background-color: var(--darkBlue);
  border: none;
  border-radius: 1rem;
  color: var(--creamWhite);
  padding: 15px 32px;

  text-decoration: none;

  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
